@{
    ViewBag.Title = "About";
}

<!-- CSS  -->
<link href="~/Content/CustomCSS/HomeCSS/Aboutus.css" rel="stylesheet" />



<div class="about-section">
     
  
    <div class="intro-section">
        <div class="intro-text">Bring you close to people</div>
        <div class="intro-image">
            
            <img src="~/Content/Images/carousel-image2.jpeg" />
        </div>
    </div>

    <div class="second-section">
        <div class="intro-text">
            We’re commited to fostering a safe and supportive community for everyone
        </div>
    </div>

    <div class="third-section">
         <div class="cards">
              <h3>Post</h3>
              <p>The community can share content by posting stories, links, images, and videos.</p> 
         </div>
         <div class="cards"> 
             <h3>Comment</h3> 
             <p>The community comments on posts. Comments provide discussion and often humor.</p>
         </div>
         <div class="cards">
                <h3>Vote</h3>
                <p>Comments & posts can be upvoted or downvoted. The most interesting content rises to the top.</p> 
         </div>
    </div>

</div>