@{
    ViewBag.Title = "About";
}

<!-- CSS  -->
<link href="~/Content/CustomCSS/HomeCSS/Aboutus.css" rel="stylesheet" />



<div class="about-section">

    <div class="intro-section">
        <div class="intro-text">Bring you close to people</div>
        <div class="intro-image">          
            <img src="~/Content/Images/carousel-image2.jpeg" />
        </div>
    </div>

    <div class="second-section">
        <div class="intro-text">
            Our Mission
        </div>
        <div class="description">
            Connectify is a platform designed to empower people to connect, share, and communicate in meaningful ways. It provides an easy and engaging way to express yourself, stay in the moment, discover new things, and enjoy shared experiences with your friends and community.

            Our platform supports genuine connections through visual storytelling, creative expression, and interactive communication. We believe in fostering real friendships and meaningful interactions without the pressure of being popular or perfect.

            Looking ahead, Connectify will continue to evolve, integrating real-world experiences with digital innovations. Our mission is to enhance how people interact and connect in their everyday lives, combining what they see in the real world with the possibilities available in the digital world.
        </div>
    </div>

    <div class="third-section">
         <div class="cards">
              <h3>Post</h3>
              <p>The community can share content by posting stories, links, images, and videos.</p> 
         </div>
         <div class="cards"> 
             <h3>Comment</h3> 
             <p>The community comments on posts. Comments provide discussion and often humor.</p>
         </div>
         <div class="cards">
                <h3>Vote</h3>
                <p>Comments & posts can be upvoted or downvoted. The most interesting content rises to the top.</p> 
         </div>
    </div>

</div>