@{
    ViewBag.Title = "Home Page";
}


<!--    css styles -->
<link href="~/Content/CustomCSS/HomeCSS/Home.css" rel="stylesheet" />

<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="~/Content/Images/carousel-image1.jpg" />
       
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="~/Content/Images/carousel-image2.jpeg" />
     
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="~/Content/Images/carousel-image3.jpeg" />
        <div class="text">Caption Three</div>
    </div>

</div>
<br>

<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<!--  scripts -->
<script src="~/Scripts/CustomScript/HomeScript/HomeCarousel.js"></script>