/* About section styling */
.about-section {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

/* Intro section styles */
.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.intro-text {
    font-size: 36px;
    font-weight: bold;
    margin-right: 20px;
    color: #333;
}

.intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Third section styles */
.third-section {
    display: flex;
    justify-content: space-around; 
    padding: 20px;
    margin-top: 20px;
}

.cards {
    
    border-radius: 10px; 
    padding: 20px;
    width: 200px; 
    text-align: center; 
    border : solid;  
    
}

    .cards:hover {
        background-color: orangered; 
    }


.second-section {
    background-color: #ffffff;
    padding: 40px;
    margin: 20px auto;
    width:90%;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color:antiquewhite;
}

.intro-text {
    font-size: 28px; 
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.description {
    font-size: 20px;
    text-align: justify;
    color: #666;
    text-align: left;
    margin: 0 auto;
    width: 85%;
}
