.contact-us-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.contact-us {
    margin: 0 auto;
    width: 70%;
}

.contact-form {
    box-shadow: 0 0 2px black;
}

.location-map,
.contact-form {
    width: 48%;
}

    .contact-form form {
        display: flex;
        flex-direction: column;
    }

    .contact-form label {
        margin-bottom: 5px;
    }

.name-row {
    display: flex;
    justify-content: space-between;
}

.name-input {
    width: 48%;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px;
    background-color: #343a40;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    

.location-map h2,
.contact-form h2 {
    margin-bottom: 15px;
}

.map-container {
    margin-bottom: 15px;
}

address {
    font-style: normal;
    line-height: 1.6;
}
