
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminLayout</title>
    <link href="~/Content/CustomCSS/AdminCSS/AdminLayout.css" rel="stylesheet" />
</head>
<body>
    <div class="Title-bar">
        <div class="title">
            <img src="~/Content/Images/images-modified.png" alt="Logo" class="logo" />
            <span class="site-name">Connectify</span>
        </div>
    </div>


    <ul class="sidebar-list">
        <li><a href="#home">Home</a></li>
        <li><a href="#news">Add post</a></li>
        <li><a href="#news">Profile</a></li>
        <li><a href="#news">Change Password</a></li>
        <li>@Html.ActionLink("Logout", "Logout", "Authentication")</li>
        
    </ul>

    <div class="content">
        @RenderBody()
    </div>

</body>
</html>
