
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserLayout</title>
    <link href="~/Content/CustomCSS/UserCSS/UserLayout.css" rel="stylesheet" />
</head>
<body class="body-content">

    <div class="navbar-section">
        <ul class="navbar-list">
            <li><img src="~/Content/Images/images-modified.png" alt="Logo" class="logo" /></li>
            <li> <span class="site-name">Connectify</span></li>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="set-right"><a href="">image</a></li>
            <li class="set-right"><a href="">Welcome newuser</a></li>

        </ul>
    </div>

    <div class="content">
        @RenderBody()
    </div>

</body>
</html>
