

@model SocialMediaWeb.Models.ReportPost
@{
    ViewBag.Title = "Report Post";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<link href="~/Content/CustomCSS/UserCSS/ReportPost.css" rel="stylesheet" />
<div class="report-container">


    <div class="flex-item header">
        <h2>Report Post</h2>
    </div>


    <div class="flex-item image">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="data:image;base64,@Model.ImageUrl" alt="Post Image" class="post-picture" />
        }
    </div>
    <div class="flex-item content">
        <p>@Model.Content</p>
    </div>


    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.PostId)
        @Html.HiddenFor(m => m.ReportedBy)

        <div class="flex-item reason">
            @Html.TextAreaFor(m => m.Reason, new { @class = "reason-textarea", rows = 5, placeholder = "reason for reporting this post" })
        </div>

        <div class="flex-item submit">
            <button type="submit" class="submit-button"> Report</button>
        </div>
    }
</div>
