.dashboard-section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    gap: 10px; 
    
}


.dashboard-section-middle {
    background-color: #ffffff;
    padding: 20px; 
    border: 1px solid #ddd; 
   
}

.post-container{
    display:flex;
    flex-direction:column;
    margin-top:50px
}


.picture {
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
   
}


.post-title {
    display: flex;
}

.post-picture{
    width:500px;
    height:250px;
}

.name {
    padding-left: 20px;
}

.post-actions {
    display: flex; 
    gap:50px; 
    align-items: center; 
    margin-top:10px;
}

.action-item {
    display: flex; 
    align-items: center; 
}

    .action-item i {
        font-size: 24px; 
        color: black; 
        margin-left: 8px; 
    }

.report{
    text-decoration:none;
    font-size:18px;
    color:black;
}

.comment-input{
    width:65%;
    height:37px;
}